<h1>Add new gallery</h1>
<br />
<br />
<div class="container">
    <div class="columns">
        <div class="column col-6">
            <span class="mdl-textfield__error">{{ message }}</span>
            <form action="../galleries" method="post">
                <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-input" id="title" name="title" type="text" required="required" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="country">Country</label>
                    <select name="country" class="form-select" required="required">
                        <option value="">- select country -</option>
                        {{#each countries}}
                            <option value="{{ this.id }}">{{ this.name }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="description">Gallery description</label>
                    <textarea class="form-input" id="description" name="description" rows="5"></textarea>
                </div>
                <div class="form-group paddings20">
                    <div class="columns paddings20bottom">
                        <div class="column col-6">
                            <label class="form-label" for="latitude">Latitude</label>
                            <input class="form-input" id="latitude" name="latitude" type="text" />
                        </div>
                        <div class="column col-6">
                            <label class="form-label" for="longitude">Longitude</label>
                            <input class="form-input" id="longitude" name="longitude" type="text" />
                        </div>
                    </div>

                    <div id="map"></div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="userId" value="{{ userId }}" />
                    <button class="btn btn-primary" type="submit">Add</button>
                    <a class="btn" href="/">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&callback=initMap&libraries=&v=weekly"
    defer
></script>
<script src="../../scripts/maps.js"></script>
