<h1>Gallery</h1>

{{#each results}}
    <div class="gallery">
        <h2><a href="galleries/{{ this.slug }}">{{ this.title }}</a></h2>

        {{#if this.photo}}
            <a href="galleries/{{ this.slug }}">
                <img src="../uploads/1200x1200/{{ this.photo }}" alt="{{ this.title }}" />
            </a>
        {{/if}}
        <div class="photo-info">
            <small class="label">Country: {{ this.country }} |
                User: <a href="galleries?userId={{ this.userId }}">{{ this.userName }}</a> | Added: {{ this.created }}</small>
        </div>
    </div>
{{/each}}

<ul class="pagination">
{{#if previous}}
    <li class="page-item page-prev">
        <a href="?page={{ previous }}">
            <div class="page-item-title h5">Previous</div>
        </a>
    </li>
{{/if}}
{{#if next}}
    <li class="page-item page-next">
        <a href="?page={{ next }}">
            <div class="page-item-title h5">Next</div>
        </a>
    </li>
{{/if}}
</ul>
