<h1>{{ gallery.title }}</h1>

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/galleries">Galleries</a>
    </li>
    <li class="breadcrumb-item">
        {{ gallery.title }}
    </li>
</ul>

<div class="toolbar">
    <small class="label">Country: {{ gallery.country.name }} | User: {{ gallery.user.name }}</small>
</div>
<div class="gallery">
    {{#each gallery.photos}}
        <img src="../uploads/1200x1200/{{ this.fileName }}" alt="{{ this.alt }}" width="1200" />
        <p>{{ this.title }}</p>
    {{/each}}

    <h3>Localisation:</h3>
    <div id="map"></div>

    <div class="comments">
        <h3>Comments:</h3>
        <table class="table">
            <tbody>
            {{#each gallery.comments}}
            <tr>
                <td>{{ this.content }}</td>
                <td>
                    {{ this.user.name }}<br />
                    {{ this.created }}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&callback=initMap&libraries=&v=weekly"
defer
></script>
<script src="../../../scripts/view-gallery-map.js"></script>
<script type="text/javascript">
    function initMap() {
        const galleryMap = new ViewGalleryMap({{ gallery.latitude }}, {{ gallery.longitude }});
        galleryMap.display();
    }
</script>
