<h1>{{ gallery.title }}</h1>

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/galleries">Galleries</a>
    </li>
    <li class="breadcrumb-item">
        {{ gallery.title }}
    </li>
</ul>

<div class="toolbar">
    <small class="label">Country: {{ gallery.country }} | User: {{ gallery.userName }}</small>
</div>
<div class="gallery">
    {{#each gallery.photos}}
        <img src="../uploads/1200x1200/{{ this.fileName }}" alt="{{ this.alt }}" width="1200" />
        <p>{{ this.title }}</p>
    {{/each}}

    <h3>Localisation:</h3>
    <div id="map"></div>

    <div id="comments" class="comments">
        <h3>Comments:</h3>
        <table class="table">
            <tbody>
            {{#each gallery.comments}}
            <tr>
                <td>{{ this.content }}</td>
                <td>
                    {{ this.userName }}<br />
                    {{ this.created }}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>

    {{#if userId }}
        <form action="../../comments" method="post">
            <div class="container add-comment">
                <div class="columns">
                    <div class="column col-6">
                        <div class="form-group">
                            <label class="form-label" for="description">Comment:</label>
                            <textarea class="form-input" id="content" name="content" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Add comment</button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="galleryId" value="{{ gallery.id }}" />
            <input type="hidden" name="userId" value="{{ userId }}" />
        </form>
    {{/if}}

    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&callback=initMap&libraries=&v=weekly"
defer
></script>
<script src="../../../scripts/view-gallery-map.js"></script>
<script type="text/javascript">
    function initMap() {
        const galleryMap = new ViewGalleryMap({{ gallery.latitude }}, {{ gallery.longitude }});
        galleryMap.display();
    }
</script>
