<h1>Gallery</h1>

{{#each galleries}}
    <div class="gallery">
        <h2><a href="galleries/{{this.id}}">{{this.title}}</a></h2>

        {{#if this.photo}}
            <a href="galleries/{{this.id}}">
                <img src="../uploads/1200x1200/{{ this.photo }}" alt="{{ this.title }}" width="1200" />
            </a>
        {{/if}}
        <small class="label">Country: {{this.country}} | User: {{this.userName}}</small>
    </div>
{{/each}}
