<h1>Gallery</h1>

{{#each galleries}}
    <div class="gallery">
        <a href="galleries/{{this.id}}">
            <h2>{{this.title}}</h2>
        </a>
        {{#if this.photo}}
            <img src="../uploads/1200x1200/{{ this.photo }}" alt="{{ this.title }}" width="1200" />
        {{/if}}
        <small class="label">Country: {{this.country}}</small>
    </div>
{{/each}}
